---
layout: page
title : about
header : tricx - about
group: navigation
show_worktitle_sidebar: true
---

<head>
<style>
a {color:rgb(200,200,200);
}
.container-narrow {background-color: black; color:rgb(200,200,200);
}
</style>
</head>



{% comment %}
<div class="page-header">
	   {% comment %}
      <h3>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h3>
  	 {% endcomment %}
  <h3>VISUAL</h3>
</div>
{% endcomment %}


<div>
{% for tag in site.tags %} 
  {% if page.title == tag[0] %}
  
      {% comment %}
      <ul class="unstyled">
          {% assign pages_list = tag[1] %}  
          {% include JB/pages_list %}
      </ul>
      {{tag[1]}}
      {% endcomment %}


  {% for items in tag[1] %}
    <div class="distance">
      <hr>
      {{items.content}}
    </div>
  {% endfor %}
        
  {% endif %}
{% endfor %}
</div>


{% comment %}
      <h4><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.date | date_to_string }}</a></h4> 
    <h4><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h4>

    <p>&nbsp;</p>
  {{post.content}}
    <p>&nbsp;</p>
{% endcomment %}



				