---
layout: page
title: tricx
---
{% comment %}
tagline: Supporting tagline
{% endcomment %}


{% include JB/setup %}
{% assign categories_list = site.categories %}

{% comment %}
<div class="page-header">
  <h3>{{ page.title }} {% if page.tagline %} {{ page.tagline }} {% endif %}</h3>
  <h3></h3>
</div>
{% endcomment %}

<a style="text-decoration: none;" href="{{ BASE_PATH }}works - projects.html">

{% comment %}
<img src="{{ site.url }}/images/terrortier6_big.jpg" alt="image">
{% endcomment %}


</a>


30.10., 9pm, Cabaret Poulet, <a href=http://www.transporterbar.at/target="_blank">Transporter</a>, Vienna, [AT] <br />