---
layout: page
title : sound
header : sound
group: navigation
---

{% comment %}
dirty hack to override css from here: change link color to white, container-narrow to black, background-image
{% endcomment %}

<head>
<style>
a {color: white;
}
.container-narrow {background-color: black; color:white;
}
.navbar-inner
{   
    color:white !important;
    background-color: black !important;
}
</style>
</head>

<body style="background-color: black;">
</body>

{% comment %}
<div class="page-header">
  <h3>SOUND</h3>	
</div>
{% endcomment %}

<div>
{% for tag in site.tags %} 
  {% if page.title == tag[0] %}
  
      {% comment %}
      <ul class="unstyled">
          {% assign pages_list = tag[1] %}  
          {% include JB/pages_list %}
      </ul>
      {{tag[1]}}
      {% endcomment %}

  {% for items in tag[1] %}
    <div class="distance">
      <hr>
      {{items.content}}
    </div>

  {% endfor %}
        
  {% endif %}
{% endfor %}
</div>







