/*additional css*/
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

body {
  margin: 0; 
  font: 11.5px/16px "Helvetica", Helvetica, Arial, sans-serif;
  /*font: 11.5px/16px Verdana,​Arial,​sans-serif;*/
  /*font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-size: 13;*/
  text-align:justify;

  /*background-image: url('/images/galaxy.jpg');*/
  background-image: url('/images/pachinko.jpg');
  background-size: 1440px 800px;

/*  background-image: url('/images/bg1.gif');  
  background-size: 72.0px 20.0px; */
  background-repeat: repeat;
  background-color: white;
  color:black;
  /*color: #1F0F0F;*/
  /*background-color: #f3edd2;*/
}

body { padding-top: 25px; }
@media screen and (max-width: 720px) {
    body { padding-top: 25px; }
}

/*---------------------------*/
/*scrollbar permanent on*/
html {
    overflow-y: scroll; 
}

/*---------------------------*/
/* Custom container */
.container-narrow {
  margin: 0 auto;
  margin-left: 0%;
  /*background-color: #FFFFF9;*/
  background-color: white;
  color: black;
  max-width: 742px;
}

/*change spacing to hr*/
/*.container-narrow > hr {
  margin: 18px 0; }*/

/*---------------------------*/
/* indent text */
.indent-text{
  margin:4%;
}
/* indent text for sidebar*/
.indent-text2{
  margin-top: 5%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 0%
}

/*distance between different posts in works_projects, sound*/
.distance{
  margin-bottom: 60px;
}

/*distance between containers, default.html */
.distance2{
  margin-bottom: 20px;
}

/*doesn't make a difference - hr with black background is not displayed with size:1px*/
hr {
  height:1px !important;
}
/*.linewhite {
  position: absolute;
  background-color: white;
  height: 1px;
}*/


/*---------------------------*/
/*from 2.2.2*/
.hero-unit{padding:60px;margin-bottom:30px;font-size:18px;font-weight:200;line-height:30px;color:inherit;background-color:#eeeeee;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.hero-unit h1{margin-bottom:0;font-size:60px;line-height:1;color:inherit;letter-spacing:-1px;}
.hero-unit li{line-height:30px;}
/*added*/
.hero-unit {
  /*background-image:url('/images/galaxy.jpg');*/
  background-size:cover;
  height:38px;
  opacity: 1.0;
}
/*different images instert to different pages - how to overcome margin from container-narrow?
make independent layouts for every page?
*/
.imgH1 {
  background-image:url('/images/galaxy.jpg');
}
.imgH2{
  background-image:url('/images/panda.jpg');
}
.imgH3{
  background-image:url('/images/train.jpg');
}
.imgH4{
  background-image:url('/images/cover.jpg');
}
.imgH5{
  background-image:url('/images/pachinko.jpg');
}

/*---------------------------*/
/* fixed navbar to top - not used, instead wrapped in container-narrow */
/*#########################################################################*/
/* set the background-color to red */
.navbar{
    min-height: 30px;
}
.navbar-inner
{
    background-color: #E5E5E5;
    /* remove the gradient */
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
    border:none;
    text-decoration: none;
    /* set font color to white */
    /*color: white;*/
    /*change min-height to adjust navbar height!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    min-height: 34px;
}   
/*change navbar items to the right */
.navbar .nav {
  float: right;
  margin-right: 0;
  /*background-color: azure;*/
}

/*remove shadow!!!!!!!!!!!*/
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: none;
}
/* menu items############################################## */
/* set the background of the menu items to pink and default color to white */
/*.navbar .nav > li > a {
    background-color: pink;  
}*/

/* set hover and focus to lightblue */
/*.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    background-color: lightblue;
}*/

/*because of dropdown menu this is not possible??????????????????????*/
        /* set active item to darkgreen */
/*.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
      background-color: darkgreen;
}*/

/* set font color and background of the project name (brand) */
/*  .navbar .brand {
      background-color: orange;
      color: navy;
}*/

/*remove shadow of text!!!!!!!!!!*/
.navbar .nav > li > a {
    color: #777777;
    float: none;
    /*change padding to adjust navbar height!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    padding: 7.5px 10.25px;
    font-size: 13px;
    text-decoration: none;
    text-shadow: none;
    /*text-shadow: 0 1px 0 #FFFFFF;*/
}

/*ids of the navigation items, forloop.index in pages_list_pages_html*/
#navi_pages1 > a {
    background: lightgreen;
}
#navi_pages1 > a:focus,
#navi_pages1 > a:hover {
    background-color: pink;
}
#navi_pages2 > a {
    background: black;
    color: red !important;
}
#navi_pages2 > a:focus,
#navi_pages2 > a:hover {
    background-color: white;
}
#navi_pages3 > a {
    background: lightblue;
}
#navi_pages3 > a:focus,
#navi_pages3 > a:hover {
    background-color: pink;
}
/*ids of the navigation items, forloop.index in pages_list_list, pages_list_links_list*/
#navi_categories1 > a {
    background: red;
    color: white !important;
}
#navi_categories1 > a:focus,
#navi_categories1 > a:hover {
    background-color: pink;
}
/*#########################################################################*/

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: top;
  right: 0;
  left: 0;
  z-index: 1030;
  border-radius: 0;
}
.stay {
  position: fixed;
  right: auto;
  top: 0;
  }
/*.affix-top {
    position: absolute;
    top: 100px;
    width: 100%;
}*/
/*.affix {
    position: fixed;
    top: 0;
    width: 100%;
}*/
.navbar-inverse .nav > li > a {
  /*color: #999999;*/
  color: #ffffff;
}
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  color: #999999;
  /*color: #ffffff;*/
}

/*#########################################################################*/
/*hover for dropdown - menus*/
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
    background-color: #E5E5E5;
}
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    /*color: white;*/
}
.dropdown:hover .dropdown-menu {
    display: block;
    /*color: white;*/
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}
.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
    /*color: white;*/
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
    /*color: white;*/
}

/* dropdown-menu color */
.dropdown-menu{
  /*background-color: #FAFAFA;*/
  /*background-color: white;*/
  background-color: black;
  /*color: white;*/
/*remove shadow!!!!!!!!!!!!!!!!!*/
  box-shadow: none;
}

.navbar .nav>li>.dropdown-menu:after{
content:'';
display:inline-block;
border-left:6px solid transparent;
border-right:6px solid transparent;
/*change color of triangle here
/*border-bottom:6px solid black; */
border-bottom:6px solid #FAFAFA; 
position:absolute;
top:-6px;
left:10px;
/*background-color: red;*/
}

/* change color of links in dropdown - menu */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #E5E5E5;
  color: black;
}
/* change text color to white */
.dropdown-menu > li > a {
  color: white;
}

/*disable dropdown when screen is too narrow*/
@media (max-width: 928px) {
 #dropdown_disable {
   display: none;
 }
}

/*---------------------------*/
/*#########################################################################*/
/* change link color */ 
a {
  color: black;
  /*font-size: 13px;*/
  /*text-decoration: none;*/
  text-decoration: underline;
}
a:hover,
a:focus {
  color: red;
  /*background-color: #E5E5E5;*/
}

/*links in sidebar*/
.linkNew {
      font-size: 12px;
      color: black;
      /*background-color: #E5E5E5;*/
      background-color: white;
      display:block;
      margin: -6px 0 0 0;
      text-decoration: underline;
      text-align:left;
  }
.linkNew:hover{
  color: red;
  background-color: #f5f5f5;
  text-decoration: underline;
}

/*#########################################################################*/
/*---------------------------*/
/*sidebar*/
/*.well{
  margin-top: 90px;
  background-color: #FAFAFA;
  }*/
.well {
    background-color: white;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin-top: 30px;
    margin-bottom: 0px;
    min-height: 0px;
    padding: 0px;
}
/*change color of the links in sidebar*/
/*.nav > li > a:hover, .nav > li > a {
    color: black;
    text-decoration: none;
}*/
/*.sidebar-nav-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    width:250px;
}
.row-fluid > .span-fixed-sidebar {
    margin-left: 690px;
}*/

/*change sidebar padding*/
.sidebar-nav {
    padding: 9px 0;
}
/*remove when display it is too small*/
.sidebar-nav-fixed {
     margin-left: 752px;
     position:fixed;
     width:15%;
 }
 /*@media (max-width: 767px) {*/
 @media (max-width: 920px) {
     .sidebar-nav-fixed {
      display: none;
     }
 }
@media (min-width: 870px) { 
  .sidebar-nav-fixed{
      position: auto;
  } 
}


/*---------------------------*/
/*#########################################################################*/
p {
   margin-top:5px;
   margin-bottom:5px
}
/*.page-header h4 small{display:block;line-height:10px;}*/
.page-header {
  padding-bottom: 0px;
  margin: 10px 0 30px;
  border-bottom: 1.5px solid #eeeeee;
 /*border-bottom:none !important;*/
 font: 11px/16px "Didot", Helvetica, Arial, sans-serif;
}
.page-header h1 {
    font-size: 25px;
}

h3,
h4 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: 100;
}

/*---------------------------*/
.pagination {
  /*background-color: black;*/
  background-color: none;
  line-height: 0px;
  /*display prev, next on the right side!!!!!!!!!!*/
  /*text-align: right;*/
}
.pagination ul {
  position: center;
}

/*modification*/
.pagination ul > li > a, .pagination ul > li > span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /*background-color: #FFFFFF;*/
    background-color: #E5E5E5;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    /*border-width: 1px 1px 1px 0;*/
    border-width: 1.5px 1.5px 1.5px 0;
    float: left;
    line-height: 20px;
    padding: 4px 12px;
    /*text-decoration: none;*/
    text-decoration: underline;
    color: black !important;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
  color: red !important;
}


/*---------------------------*/
/* footer text center to field? */
/*.footer {
  margin: 40%;
}*/

/*---------------------------*/
.full-iframe {
width:100%;
border:none;
}

/*---------------------------*/
/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin-top: 0px;
  /*margin: 0;*/
  overflow: hidden;
   }

.tag_box li {
  line-height: 28px; 
}

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float:left; 
  /*float: right;*/
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }


