<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.header }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="intervention, action, performance, sound art, sculpture, installation">
    <meta content="en" name="language">
    <meta content="Paul Gruendorfer" name="description">
    <meta content="tricx" name="keywords">
    <meta content="index, follow" name="robots">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <!-- IE compability mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
 
    <!-- styles -->
    <!-- <link href="{{ ASSET_PATH }}/twitter/bootstrap/css/bootstrap2.3.2.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/twitter/css/style.css?body=1" rel="stylesheet" type="text/css" media="all"> -->

    <link href="{{ BASE_PATH  }}/assets/themes/twitter/bootstrap/css/bootstrap2.3.2.css" rel="stylesheet">
    <link href="{{ BASE_PATH  }}/assets/themes/twitter/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    <!-- javascript -->
    <!-- <script src="http://code.jquery.com/jquery.js"></script> -->
    <script src="/assets/themes/twitter/bootstrap/js/jquery.js"></script>
    <!-- <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="/assets/themes/twitter/bootstrap/js/bootstrap.min2.3.2.js"></script>


  </head>
<!-- ############################################################################################################# -->
  <body>

  <!-- for navbar normal change to: 1.st container-narrow, 2. navbar navbar -->
  <!-- navbar-inverse -->
<div class= "navbar navbar-fixed-top" id= "mastnav"> <!-- css body with padding-top:60px, ok with mobiles?-->
    <div class="container-narrow">
        <div class="navbar-inner">
          <!-- <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a> -->
          <!-- <a class="brand" href="{{ HOME_PATH }}"> &nbsp; Home</a> -->
          <ul class="nav">

<!-- ###################################################################### -->
    <!-- added list navi_pages: in _config file, to add pages without dropdown-menu -->
            <!-- {% include JB/pages_list_pages %} -->
        <!-- <a href> with {{pages| downcase}}.html -->
            {% include JB/pages_list_pages_html %}

<!-- ###################################################################### -->
    <!-- added list navi_categories: in _config file, to add pages with dropdown-menu -->

            <!-- {% assign pages_list = site.pages %} -->
            <!-- {% assign group = 'navigation' %} -->
            <!-- {% include JB/pages_list %} -->
        
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}

            {% comment %}
            {% include JB/pages_list_links_list %}
            {% endcomment %}

          </ul>
        </div>
    </div>
</div>



<!-- show sidebar with worktitles!!  -->
<!-- assign 'show_worktitle_sidebar:' in posts or pages-layout-defs(e.g.title:sound) to show worktitles in sidebar -->
{% if page.show_worktitle_sidebar == true %}

<!-- navbar on the side? or make a sublist on the sidebar? -->
   <!--  <div class="row-fluid"> -->
      <div class="sidebar-nav sidebar-nav-fixed">
          <ul class="nav-list nav">
            <!-- <div class= "indent-text2"> -->
<!--             <div class='linkTitle'>
              <p>Projects:<p\>
            </div>
            <br /> -->
<!-- compare 'works_projects_list' titles in _config.yml to posts titles - when matching display title -->
{% for post in site.posts %}
  {% for worktitle in site.JB.works_projects_list %}
    {% assign compare_worktitle = {{worktitle | downcase | replace: ' ', '_' }} %}
      {% assign pt = post.title | downcase %}
       {% if compare_worktitle == pt %}
              <!-- <li class="nav-list-item active" class={{ link.title == post.title }}> -->
              <li class="nav-list-item active">
              <!-- add div style here? -->
              <a class ="linkNew" href="{{ BASE_PATH }}{{ post.url }}">{{ worktitle }}&nbsp;&nbsp;&nbsp;</a>
            <!-- <br /> -->
      {% endif %}    
  {% endfor %}
{% endfor %}

          <!-- </div> -->
          </ul>
      </div>
<!--     </div>  -->
<!-- endif, show sidebar with worktitles -->
{% endif %}

{% comment %}
{% endcomment %}



<!-- content######### -->
    <div class="container-narrow">
                  <!-- <div class="content"> -->
                          {{ content }}
                   <!-- </div> -->


{% comment %}
<!-- bottom section -->
<div class="container-narrow"><div class="indent-text">
    <hr>
    <footer>
   <!--   <div class="indent-text">
         <p>the impressum
        &copy;{{ site.time | date: '%Y' }} {{ site.author.name }}
        </p> 
      </div> -->
      <div class="distance2">&nbsp;</div>
    </footer> 
</div></div>
{% endcomment %}   

    </div>
    {% include JB/analytics %}

  </body>
</html>
