<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="de" name="language">
    <meta content="Paul Gruendorfer" name="description">
    <meta content="tricx" name="keywords">
    <meta content="index, follow" name="robots">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <!-- IE compability mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    
    <!-- Le styles -->
    <!-- <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet"> -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap2.3.2.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="images/snail.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/snail.png"> -->
 

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    <!-- javascript -->
    <!-- <script src="http://code.jquery.com/jquery.js"></script> -->
    <script src="/assets/themes/twitter/bootstrap/js/jquery.js"></script>

    <!-- <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="/assets/themes/twitter/bootstrap/js/bootstrap.min2.3.2.js"></script>
  </head>
<!-- ############################################################################################################# -->
  <body>

  <!--test for navbar fixed on top-->
  <!-- <div class="navbar navbar data-spy="affix" data-offset-top="200"">  -->
  <!-- <div class= "navbar navbar stay" id= "mastnav"> -->
{% comment %} 
   <script>
    $('#mastnav').affix({
      offset: { top: 0 }
   });  
   </script>
{% endcomment %}

  <!-- for navbar normal change to: 1.st container-narrow, 2. navbar navbar -->
  <!-- navbar-inverse -->
<div class= "navbar navbar-fixed-top" id= "mastnav"> <!-- css body with padding-top:60px, ok with mobiles?-->
    <div class="container-narrow">
        <div class="navbar-inner">
          <!-- <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a> -->
          <!-- <a class="brand" href="{{ HOME_PATH }}"> &nbsp; Home</a> -->
          <ul class="nav">
<!-- ###################################################################### -->
    <!-- added list navi_pages: in _config file, to add pages without dropdown-menu -->
            <!-- {% include JB/pages_list_pages %} -->
        <!-- <a href> with {{pages| downcase}}.html -->
            {% include JB/pages_list_pages_html %}

<!-- ###################################################################### -->
    <!-- added list navi_categories: in _config file, to add pages with dropdown-menu -->

            <!-- {% assign pages_list = site.pages %} -->
            <!-- {% assign group = 'navigation' %} -->
            <!-- {% include JB/pages_list %} -->
        
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list_links_list %}

{% comment %}
            {% include JB/pages_list_list %}
{% endcomment %}
            
          </ul>
        </div>
    </div>
</div>

<!-- show sidebar with worktitles!!  -->
<!-- assign 'show_worktitle_sidebar:' in posts or pages-layout-defs(e.g.title:sound) to show worktitles in sidebar -->
{% if page.show_worktitle_sidebar == true %}

<!-- navbar on the side? or make a sublist on the sidebar? -->
    <div class="row-fluid">
      <div class="well sidebar-nav sidebar-nav-fixed">
          <ul class="nav">
            <div class= "indent-text2">

{% comment %}
            <h6>Pages:</h6>
<!--             {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %} -->
            {% include JB/pages_list_pages_sidebar_html %}
            <p>&nbsp;</p>
            <!-- ################ -->
            <h6>Works and Projects:</h6>
            <p>&nbsp;</p>
{% endcomment %}

<!-- compare 'works_projects_list' titles in _config.yml to posts titles - when matching display title -->
{% for post in site.posts %}
  {% for worktitle in site.JB.works_projects_list %}
    {% assign compare_worktitle = {{worktitle | downcase | replace: ' ', '_' }} %}
      {% assign pt = post.title | downcase %}
       {% if compare_worktitle == pt %}
            <div class='newLink'>
              <li class="active">
              <a class ='linkNew' href="{{ BASE_PATH }}{{ post.url }}">{{ worktitle }}&nbsp;</a>
            <br />
            </div>
      {% endif %}    
  {% endfor %}
{% endfor %}

{% comment %}
<!-- show all posts -->
            <h6>Posts:</h6>
            <!-- references modified pages_list file / -> posts_list   -->

<!--             {% assign posts_list = site.posts %}   
            {% include JB/posts_list %} -->

            {% for post in site.posts %}
            <div class='newLink'>
              <li class="active">
            <span style="display:block; height: 30px;">
              <a class ='linkNew' href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}&nbsp;<br /></a> 
            </span>
            </div>
            {% endfor %}
{% endcomment %}

          </div>
          </ul>
      </div>
    </div> 
<!-- endif, show sidebar with worktitles -->
{% endif %}



<!-- content######### -->
    <div class="container-narrow">

{% comment %}
    <!-- assign img in the layout definitions e.g. title:sound -> sel_img: var.img -->
    {% if page.sel_img == null %}
       {% assign sel_img = 'cover' %}
     {% else %}
       {% assign sel_img = page.sel_img %}
    {% endif %}
<div class="hero-unit" style= "background-image:url('/images/{{sel_img}}.jpg'); ">
     </div>
{% endcomment %}

                  <!-- <div class="content"> -->
                          {{ content }}
                   <!-- </div> -->

<!-- bottom section -->
<div class="container-narrow"><div class="indent-text">
    <hr>
    <footer>
   <!--   <div class="indent-text">
         <p>the impressum
        &copy;{{ site.time | date: '%Y' }} {{ site.author.name }}
        </p> 
      </div> -->
      <div class="distance2">&nbsp;</div>
    </footer> 
</div></div>
   

    </div>

    {% include JB/analytics %}

  </body>
</html>


